{% extends "base.html" %}
{% block title %} Afficher Shops {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Shops à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            id
                        </th>
                        <th class="align-middle">
                            Nom
                        </th>
                        <th class="align-middle">
							Email
                        </th>
                        <th class="align-middle">
							Volume (litres)
                        </th>
                        <th class="align-middle">
							Argent (Shillings)
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_shop }}
						</td>
						<td class="align-middle">
							{{ row.nom_shop }}
						</td>
						<td class="align-middle">
							{{ row.email_shop }}
						</td>
						<td class="align-middle">
							{{ row.volumes_shop }}
						</td>
						<td class="align-middle">
							{{ row.argent_shop }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('shop_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('shop_update_wtf', id_shop_btn_edit_html=row.id_shop) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('shop_delete_wtf', id_shop_btn_delete_html=row.id_shop) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun shop.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('shop_ajouter_wtf') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

