<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Merci à un des profs les plus excentriques et bizarre que j'ai jamais connu<span class="small"><br><a href="https://heidi-17455.kxcdn.com/photos/ef91fef5-3d22-4f80-9f41-3765e9a68fa5/medium" target="_blank">J'avoue qu'il est vraiment cool le cours de maccaud...si on aime perdre des neurones chaque seconde</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2021.03.16</div>
        </div>
  </div>
</footer>
