{% extends "base.html" %}
{% block title %} Homepage ENTREPRISE {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				<img src="../static/images/ShamaMilk.jpg" height="300px" width="750px" />
			</h3>
			<h3>
				Que je suis en train de réussir tranquillement
			</h3>
			<ul>
				<li class="list-item">
					I am thankful for laughter, except when milk comes out of my nose. ~Woody Allen
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
