{% extends "base.html" %}
{% block title %} Effacer une Adresse {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Effacer une Adresse
			</p>
			<table class="table table-responsive-sm">
				{% if data_adresse_del %}
				<thead>
				<tr>
					<th class="">
						Id
					</th>
					<th class="">
						Rue
					</th>
					<th class="">
						Numero
					</th>
					<th class="">
						Localite
					</th>

				</tr>
				</thead>
				{% endif %}
				{% for row in data_adresse_del %}
				<tbody>
				<tr>
					<th class="align-middle">
						{{ row.id_adresse }}
					</th>
					<th class="align-middle">
						{{ row.Rue }}
					</th>
					<th class="align-middle">
						{{ row.Numero|default("", True) }}
					</th>
					<th class="align-middle">
						{{ row.Localite|default("", True) }}
					</th>

				<tr>

				</tr>
				</tr>
				</tbody>
				{% else %}
				<tbody>
				<tr>

				</tr>
				</tbody>
				{% endfor %}

			</table>

			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
				{{ form_delete_film.hidden_tag() }}
				{{ form_delete_film.submit_btn_conf_del_film(class="btn btn-info") }}

				{% if btn_submit_del %}
					{{ form_delete_film.submit_btn_del_film(class="btn btn-danger") }}
				{% endif %}

				{{ form_delete_film.submit_btn_annuler(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

